<DOCTYPE html>
<html>
    <head>
        <title>Info</title>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <div id="about-container">
            <div class="container">
                <h1>About Me</h1>
                <img class="bitmoji" src='/static/images/welcome.png'/>
                <p class="about-text"> 
                    What's good! Welcome to my Raspberry Pi Playground.<br>
                    I am from California and am currently in the 10th grade.<br>
                    One day, I hope to become a Hardware Engineer at Google.<br>
                    Explore my site to check out the hardware projects I've done using Raspberry Pi!
                </p>
            </div>
            <div class="container">
                <div class="about-me-list">
                    <h1>Interests</h1>
                    <img class="bitmoji" src="/static/images/interests.png"/>
                    <p>Video Games</p>
                    <p>Coding</p>
                    <p>Neuroscience</p>
                    <p>Film</p>
                </div>
                <div class="about-me-list">
                    <h1>Favorite Movies</h1>
                    <img class="bitmoji" src="/static/images/movies.png"/>
                    <p>Sixth Sense</p>
                    <p>The Dark Knight</p>
                    <p>The Matrix</p>
                    <p>Iron Man</p>
                </div>
                <div class="about-me-list">
                    <h1>Technical Skills</h1>
                    <img class="bitmoji" src="/static/images/tech.png"/>
                    <p>Web Development</p>
                    <p>Command Line</p>
                    <p>Python</p>
                    <p>Raspberry Pi</p>
                </div>
                <div class="about-me-list">
                    <h1>Web Projects</h1>
                    <img class="bitmoji" src="/static/images/projects.png"/>
                    <p><a href="">Travel Blog</a></p>
                    <p><a href="">History Quiz</a></p>
                    <p><a href="">Disney+ Clone</a></p>
                    <p><a href="">Babysitting Business</a></p>
                </div>
            </div>
        </div>
    </body>
</html>